<% include partials/header %>
<section>
    The goal of this database is to easily access component separated load information for handloading metallic cartridges, specifically for pistol calibres. Using the database, you can see other load information on cartridges you search for, other powders available them, and determine other potentially useful metrics.

    <br /><br />
    <a href="mailto:johnsken@sonoma.edu?Subject=CDB" target="_blank ">Email administrator</a>
</section>
<% include partials/footer %>