<% include partials/header %>
<section>
    <a href="/users/create">Create new user account</a><br />
    <br />
    For users:<br />
    <a href="/cdb/cartridgesAll">Search cartridge loads</a>
</section>
<% include partials/footer %>